@import './$variable.scss';

html,
body {
  margin: 0 auto;
  padding: 0 auto;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* 모바일 */
@media only screen and (min-width: $mobile-width) {
  body {
    font-size: 15px;
  }

}

/* 데스크탑 */
@media only screen and (min-width: $desktop-width) {
  /* 데스크탑에서 적용할 스타일 */
  body {
    background-color: blue;
    font-size: 18px;
    color: white;
  }
}
