@import './$variable.scss';

html,
body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: rgb(250, 245, 239);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p,span,strong,h1,h2,h3,h4,h5,h6 {
    letter-spacing: -1px;
  }
}

/* 모바일 */
@media only screen and (min-width: $mobile-width) {
  body {
    font-size: 13px;
  }

}

/* 데스크탑 */
@media only screen and (min-width: $desktop-width) {
  /* 데스크탑에서 적용할 스타일 */
  body {
    font-size: 18px;
  }
}
