@import '../styles/$variable.scss';


.items_container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item_box {
  min-width: 22rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
  position: relative;
  img{
    display: block;
    box-shadow: 1px 1px 5px 1px rgb(0,0,0,0.5);
  }
}

.img_box {
  width: 150px;
  height: 150px;
}
.content {
  width: 21rem;
  padding-left: 1.5rem;

}

.flex {
  display: flex;

  p{
    font-weight: 300;
  }
}

.position {
  margin-top: 1rem;
}



