@import '../styles/$variable.scss';

.container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item_box {
  min-width: 26rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
  position: relative;
  img{
    display: block;
    box-shadow: 1px 1px 5px 1px rgb(0,0,0,0.5);
  }
}
.content {
  width: 21rem;
  padding-left: 1.5rem;

}

.flex {
  display: flex;
}

.position {
  margin-top: 1rem;
}



